[user]
	name = DinoLai
	email = dinos80152@gmail.com
[push]
	default = current
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	mg = merge
	unstage = reset HEAD
	po = push origin
[pager]
	branch = false
[core]
	editor = vim
	fileMode = false
	autocrlf = false
